*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.flex-menus{
    display: flex;
    flex-direction: row;
}
.flex-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 66, 24);
}
.flex-container>div{
    margin: 10px;
    border: 10px solid #0c5e08;
    padding: 10px;
    background-color: rgb(67, 138, 2);
    box-sizing: content-box;
}
.header{
    padding: 60px;
    background-color: #0c5e08;
    color:white;
}
.navbar{
    display: flex;
    background-color: rgb(1, 150, 28);
    
}
.navbar a{
    color: rgb(0, 255, 85);
    padding: 10px 14px;
    transition: 0.5s;
}
.navbar > a:hover{
    color:rgb(1, 150, 28);
    background-color: rgb(240, 236, 236);
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: #aaa8a8;
    padding: 20px;
}
.main{
    flex: 40%;
    background-color: rgb(119, 240, 129);
    padding: 20px;
}
.footer{
    text-align: center;
    padding: 20px;
    background: #82baee;
}
@media screen and (max-width:700px) {
    .row 
    .navbar{
        flex-direction: column;
    }
}
    
